<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN" "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="charset" value="UTF-8" />

    <property name="severity" value="warning" />

    <module name="FileLength">
        <property name="max" value="1500" />
    </module>

    <module name="TreeWalker">

        <module name="JavadocMethod">
            <property name="accessModifiers" value="public" />
        </module>
        <module name="JavadocType" />

        <module name="PackageName">
            <property name="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$" />
        </module>
        <module name="MethodName">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$" />
        </module>
        <module name="LocalVariableName" />
        <module name="ConstantName" />

        <module name="AvoidStarImport" />
        <module name="UnusedImports" />
        <module name="RedundantImport" />

        <module name="LeftCurly" />
        <module name="RightCurly" />
        <module name="NeedBraces" />
        <module name="WhitespaceAround" />

        <module name="EmptyBlock" />
        <module name="EqualsHashCode" />
        <module name="SimplifyBooleanExpression" />
        <module name="OneStatementPerLine" />
        <module name="MissingSwitchDefault" />

    </module>
</module>